* {
  box-sizing: border-box;
  margin: none;
  padding: none;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.solid {
  border: none;
  color: #fff;
}

.blue {
  background-color: lightskyblue;
}

.green {
  background-color: green;
}

.red {
  background-color: coral;
}

.filtr {
  background-color: lightskyblue;
}

.filtr:hover {
  background-color: deepskyblue;
} 

.filtr:focus {
  outline: 4px solid deepskyblue;
  outline-offset: 4px;
  background-color: #fff;
  color: deepskyblue;
}

.info-btn:hover {
  background-color: deepskyblue;
}

button.cta {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 32px;
  margin-top: 1rem;
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

header > h1, h2 {
  width: 100%;
  height: auto;
  margin-block: 0.5rem;
  margin-inline: auto;
}

header button {
  margin-top: 1rem;
}

.gr-bg-header {
  border-top: solid 5px rgba(127,255, 212, 0.5);
}

.gr-bg {
  background-color: rgba(127,255, 212, 0.5);
  padding: 1rem;
}

.wrap-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card, .card-wide {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 8px 8px 8px  rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  margin-block: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > * , .card-wide > * {
  margin-block: 0.5rem;
}

.card-wide > button {
  width: max(7rem, 20%);
}

.card img, .card-wide img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

img.round {
  width: 33%;
  height: auto;
  border: none;
  border-radius: 50%;
}

.ital {
  font-style: italic;
}

.cart-page {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media(min-width: 40em) {
  .flexwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  }
  .card {
    width: max(18em, 30em);
  }
}

.inner-bubble {
  border-radius: 1rem;
  background-color: #fff;
  color: green;
  padding-inline: 0.25rem;
}

.cart-btn {
  width: 30px;
  padding: 0.25rem;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: .5rem;
  border: none;
  color: #fff;
  margin-inline: 0.625rem;
  cursor: pointer;
}

.row, .row-half {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1.25rem;
  background-color: #fff;
}

.row {
  width: min(40em, 98%);
  margin-inline: auto;
}

.row > * {
  width: 33.33%;
}

.row-half {
  width: min(20em, 98%);
  margin-inline: auto;
}

.col-2 {
  flex-grow: 2;
  flex-basis: 50%;
}

.col-1 {
  flex-grow: 1;
}

.btns-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.text-right {
  text-align: right;
  padding-right: min(2.5vw,0.75rem);
}

.text-left {
  text-align: left;
  padding-left: min(2.5vw, 0.75rem);
}

hr {
  background-color: #aaa;
}

@media (max-width: 40em) {

  .hide {
    display: none !important;
  }

  .row {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.5rem;
  }

  .row > * {
    width: 80%;
  }

  .col-1, .col-2 {
    flex-grow: 1;
  }
  
 .btns-inline {
  flex-wrap: wrap;
 }
}

.hero {
  background-image: url('./images/chelsea-essig-zCSIIoGQr2s-unsplash.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
  height: auto;
}

.hero h1, .hero p {
  margin-bottom: 1.5rem;
} 

.big-sect {
  font-size: 1.5rem;
  padding-block: 8rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.big-text {
  max-width: 65ch;
  margin-inline: auto;
}

p.small {
  font-size: 10px;
  text-align: right;
  margin-bottom: 0;
  position: absolute;
  right: 2vw;
  bottom: 2vw;
}